.favorite-stocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row; /* Add this line */
}

.remove-button {
  font-size: 1rem; /* Adjust this to make the 'X' smaller or larger */
  color: black; /* Change the color of the 'X' */
  background-color: transparent !important; /* Keep the background transparent */
  border-color: transparent; /* Make the border transparent */
  margin-left: 10px; /* Add some space between the 'X' and the company name */
}

.remove-button:hover {
  color: black !important; /* Keep the 'X' black on hover */
  background-color: transparent !important; /* Keep the background transparent on hover */
}

.favorite-stock-box {
  max-width: 300px; /* Adjust this to your liking */
  padding: 8px; /* Add some padding around the content */
}

.alert-info h3 {
  font-size: 1rem; /* Adjust this to your liking */
}

.favorite-stock {
  display: flex;
  align-items: center;
}
