venv/
tests/
openAiApiCall.py
openAiApiCall_test
nasdaqApiCall_test.py
nasdaqApiCall_test2.py
nasdaqApiCall_test3.py
openAiApiCall_test.py
openai-test.py
saatofilu2.py
saatofilu3.py
saatofilu4.py
saatofilu5.py
YahooFinanceApiCall_test.py