venv/
openAiApiCall.py
nasdaqApiCall_test.py
nasdaqApiCall_test2.py
nasdaqApiCall_test3.py
openAiApiCall_test.py
openai-test.py
saatofilu2.py
saatofilu3.py
saatofilu4.py
saatofilu5.py
uutistestiobjekti.json
uutistestiobjekti.txt
uutistestiobjekti2.json
uutistestiobjekti2.txt
uutistestiobjekti3.txt
YahooFinanceApiCall_test.py
nordicCompanies.json
mongoDebug.py